


<!-- footer -->
{% extends 'base.html' %}
{% block  title %}
{% endblock%}


{% block body %}
{% load static %}


    
<section class="about">
    <div class="main">
        <div class="about-text">
            <h1>About Us</h1>
            <h5>Medical Corner</h5>
            <p>
                Welcome to Medical Corner, where we redefine the modern workspace. Committed to innovation and your well-being, we specialize in cutting-edge standing desks designed to elevate both your productivity and lifestyle. Our mission is to revolutionize the way you work, offering dynamic and ergonomic solutions that seamlessly blend style and functionality. What sets us apart is our unwavering commitment to quality, personalized customer focus, and a range of sustainable products. At Medical Corner, we don't just provide furniture; we deliver tools to transform your work experience. Join our community, embrace a new way of working, and thank you for choosing Medical Corner for a healthier, more productive work life.</p>
                 <a href="Shop.html" class="button"> Shop Now &#8594;</a>
        </div>
    </div>
</section>
        
        


{% endblock %}
