{% extends 'base.html' %}
{% block body %}
<div class="order-list background mt-5">
    <h1>Your Orders</h1>
    {% for o in orders %}
    
    <div class="order-item">
      <div class="order-details">
        <h2>Order {{o.id}}</h2>
        {% for p in o.product %}
        <p>Product: {{p.name}}</p>
        <p>Quantity: {{p.quantity}}</p>
        <p>Total Price: {{p.total}}</p>
        {% endfor %}
        <p>Date: {{o.created_at}}</p>
      </div>
      <div class="order-actions">
        <a href="/ziz/orderDetail/{{o.id}}" class="btn">View Details</a>
        <a href="{% url 'orderDelete' o.id %}" class="remove-btn">Cancel Order</a>

      </div>
    </div>
    {% endfor %}
    
  </div>
{% endblock %}