   <!-- footer -->
   <div class="footer-second">
    <div class="footerSecond-col1">
        <!-- Links -->
        <ul>
            <li class="footer-item">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook icon'></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="https://mail.google.com/mail/u/0/">
                    <i class='bx bxl-gmail icon'></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="https://www.youtube.com/">
                    <i class='bx bxl-youtube icon'></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="https://twitter.com/">
                    <i class='bx bxl-twitter icon'></i>
                </a>
            </li>
        </ul>
        <div class="contact">
            <h2>Contact Us</h2>
            <p>+95973067605</p>
            <p>7(A),Pearl Condo, Yangon.
            </p>
        </div>
    </div>
</div>



<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                Medical Corner
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Furniture</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>